<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Ecommerce_java</display-name>
  <welcome-file-list>
    <welcome-file>ViewIndex</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/noResult.jsp</location>
  </error-page>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminDashboard</url-pattern>
    <url-pattern>/AdminPanel</url-pattern>
    <url-pattern>/AdminProduct</url-pattern>
    <url-pattern>/AdminUser</url-pattern>
    <url-pattern>/addProduct</url-pattern>
    <url-pattern>/AdminOrder</url-pattern>
  </filter-mapping>
</web-app>